@charset "UTF-8";
/* Customization - icons */
/* Customization - colors */
/* Customization - states - selected */
/* line 23, ../../src/scss/ioki-treeview.scss */
treeview {
  display: block;
  /* EXPANDER START */
  /* EXPANDER END */
  /* REMOVE AND ADD NODE START */
  /* REMOVE AND ADD NODE END */
}
/* line 27, ../../src/scss/ioki-treeview.scss */
treeview .expander {
  visibility: hidden;
  width: 13px;
  padding-right: 5px;
  cursor: pointer;
  color: #949494;
}
/* line 34, ../../src/scss/ioki-treeview.scss */
treeview .expander:before {
  content: "";
}
/* line 41, ../../src/scss/ioki-treeview.scss */
treeview.show-expander .dir .expander {
  visibility: visible;
}
/* line 49, ../../src/scss/ioki-treeview.scss */
treeview .add-node, treeview .remove-node {
  margin-right: 15px;
  float: right;
  cursor: pointer;
  line-height: 20px;
}
/* line 56, ../../src/scss/ioki-treeview.scss */
treeview .add-node {
  visibility: hidden;
  color: forestgreen;
}
/* line 59, ../../src/scss/ioki-treeview.scss */
treeview .add-node:before {
  content: "";
}
/* line 64, ../../src/scss/ioki-treeview.scss */
treeview .remove-node {
  color: darkred;
}
/* line 66, ../../src/scss/ioki-treeview.scss */
treeview .remove-node:before {
  content: "";
}
/* line 72, ../../src/scss/ioki-treeview.scss */
treeview.unremovable .remove-node {
  visibility: hidden;
}
/* line 78, ../../src/scss/ioki-treeview.scss */
treeview.unaddable .add-node {
  visibility: hidden;
}
/* line 83, ../../src/scss/ioki-treeview.scss */
treeview[treeview-element-type="root"] > treeview-node > treeview-node-body .remove-node {
  visibility: hidden;
}
/* line 88, ../../src/scss/ioki-treeview.scss */
treeview > treeview-node {
  display: block;
}
/* line 91, ../../src/scss/ioki-treeview.scss */
treeview > treeview-node treeview-node-body {
  display: block;
  padding: 0px 2px 0px 6px;
  border-radius: 2px;
}
/* line 96, ../../src/scss/ioki-treeview.scss */
treeview > treeview-node treeview-node-body .node-icon:before {
  content: "";
}
/* line 101, ../../src/scss/ioki-treeview.scss */
treeview > treeview-node treeview-node-body.dir .add-node {
  visibility: visible;
}
/* line 105, ../../src/scss/ioki-treeview.scss */
treeview > treeview-node treeview-node-body.dir .node-icon:before {
  content: "";
}
/* line 110, ../../src/scss/ioki-treeview.scss */
treeview > treeview-node treeview-node-body.dir.expanded .node-icon:before {
  content: "";
}
/* line 114, ../../src/scss/ioki-treeview.scss */
treeview > treeview-node treeview-node-body.dir.expanded .expander {
  visibility: visible;
  color: #000;
}
/* line 118, ../../src/scss/ioki-treeview.scss */
treeview > treeview-node treeview-node-body.dir.expanded .expander:before {
  content: "";
}
/* line 123, ../../src/scss/ioki-treeview.scss */
treeview > treeview-node treeview-node-body.dir.expanded + ul {
  display: block;
}
/* line 126, ../../src/scss/ioki-treeview.scss */
treeview > treeview-node treeview-node-body.dir.expanded + ul > treeview-node > treeview-node-body .expander {
  color: #000;
}
/* line 133, ../../src/scss/ioki-treeview.scss */
treeview > treeview-node treeview-node-body span.node-label {
  display: inline-block;
  padding: 2px 0px;
}
/* line 138, ../../src/scss/ioki-treeview.scss */
treeview > treeview-node treeview-node-body:hover, treeview > treeview-node treeview-node-body.selected {
  color: #fff;
  background: #006da4;
}
/* line 142, ../../src/scss/ioki-treeview.scss */
treeview > treeview-node treeview-node-body:hover .add-node, treeview > treeview-node treeview-node-body:hover .remove-node, treeview > treeview-node treeview-node-body:hover .expander, treeview > treeview-node treeview-node-body:hover.dir.expanded .expander, treeview > treeview-node treeview-node-body.selected .add-node, treeview > treeview-node treeview-node-body.selected .remove-node, treeview > treeview-node treeview-node-body.selected .expander, treeview > treeview-node treeview-node-body.selected.dir.expanded .expander {
  color: #fff;
}
/* line 149, ../../src/scss/ioki-treeview.scss */
treeview > treeview-node ul {
  padding-left: 10px;
  display: none;
  list-style-type: none;
}
/* line 154, ../../src/scss/ioki-treeview.scss */
treeview > treeview-node ul .separator {
  display: block;
  padding: 5px;
  font-weight: bold;
  font-size: 12px;
  font-family: Arial;
  color: #bcbcbc;
  text-align: center;
  text-transform: uppercase;
  border: 1px dashed #bcbcbc;
}
/* line 167, ../../src/scss/ioki-treeview.scss */
treeview.dragging {
  cursor: pointer;
}
/* line 172, ../../src/scss/ioki-treeview.scss */
treeview.dragging .dropToDir > treeview-node > treeview-node-body span.node-label {
  background: #ccc;
}
/* line 179, ../../src/scss/ioki-treeview.scss */
treeview.dragged {
  position: absolute;
  cursor: pointer;
  border: solid 1px #66afe9;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.35);
  opacity: .75;
}
/* line 183, ../../src/scss/ioki-treeview.scss */
treeview.dragged > treeview-node > treeview-node-body {
  color: #000;
  background-color: #fff;
  opacity: .75;
}
/* line 197, ../../src/scss/ioki-treeview.scss */
treeview.ghost {
  background-color: #fff;
  border: solid 1px #66afe9;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.35);
}
