/* line 1, ../../src/scss/ioki-treeview.scss */
treeview {
  display: block;
}
/* line 4, ../../src/scss/ioki-treeview.scss */
treeview > div {
  padding: 2px 2px 2px 6px;
  border-radius: 2px;
}
/* line 8, ../../src/scss/ioki-treeview.scss */
treeview > div .expander {
  width: 13px;
  padding-right: 5px;
  cursor: pointer;
  color: #949494;
}
/* line 16, ../../src/scss/ioki-treeview.scss */
treeview > div.expanded .expander {
  color: #000;
}
/* line 21, ../../src/scss/ioki-treeview.scss */
treeview > div .add-node, treeview > div .remove-node {
  margin-right: 15px;
  float: right;
  cursor: pointer;
  line-height: 20px;
}
/* line 28, ../../src/scss/ioki-treeview.scss */
treeview > div .add-node {
  color: forestgreen;
}
/* line 32, ../../src/scss/ioki-treeview.scss */
treeview > div .remove-node {
  color: darkred;
}
/* line 36, ../../src/scss/ioki-treeview.scss */
treeview > div:hover, treeview > div.selected {
  color: #fff;
  background: #006da4;
}
/* line 40, ../../src/scss/ioki-treeview.scss */
treeview > div:hover .add-node, treeview > div:hover .remove-node, treeview > div:hover .expander, treeview > div.selected .add-node, treeview > div.selected .remove-node, treeview > div.selected .expander {
  color: #fff;
}
/* line 46, ../../src/scss/ioki-treeview.scss */
treeview > ul {
  padding-left: 10px;
  display: none;
  list-style-type: none;
}
/* line 51, ../../src/scss/ioki-treeview.scss */
treeview > ul.expanded {
  display: block;
}
/* line 54, ../../src/scss/ioki-treeview.scss */
treeview > ul.expanded > div .expander {
  color: #000;
}
