/* line 3, ../../src/scss/ioki-treeview.scss */
treeview {
  display: block;
  /* EXPANDER START */
  /* EXPANDER END */
  /* REMOVE AND ADD NODE START */
  /* REMOVE AND ADD NODE END */
}
/* line 7, ../../src/scss/ioki-treeview.scss */
treeview .expander {
  visibility: hidden;
  width: 13px;
  padding-right: 5px;
  cursor: pointer;
  color: #949494;
}
/* line 14, ../../src/scss/ioki-treeview.scss */
treeview .expander:before {
  content: "\f0da";
}
/* line 21, ../../src/scss/ioki-treeview.scss */
treeview.show-expander .dir .expander {
  visibility: visible;
}
/* line 29, ../../src/scss/ioki-treeview.scss */
treeview .add-node, treeview .remove-node {
  margin-right: 15px;
  float: right;
  cursor: pointer;
  line-height: 20px;
}
/* line 36, ../../src/scss/ioki-treeview.scss */
treeview .add-node {
  visibility: hidden;
  color: forestgreen;
}
/* line 39, ../../src/scss/ioki-treeview.scss */
treeview .add-node:before {
  content: "\f055";
}
/* line 44, ../../src/scss/ioki-treeview.scss */
treeview .remove-node {
  color: darkred;
}
/* line 46, ../../src/scss/ioki-treeview.scss */
treeview .remove-node:before {
  content: "\f056";
}
/* line 52, ../../src/scss/ioki-treeview.scss */
treeview.unremovable .remove-node {
  visibility: hidden;
}
/* line 58, ../../src/scss/ioki-treeview.scss */
treeview.unaddable .add-node {
  visibility: hidden;
}
/* line 63, ../../src/scss/ioki-treeview.scss */
treeview[treeview-element-type="root"] > div > .remove-node {
  visibility: hidden;
}
/* line 68, ../../src/scss/ioki-treeview.scss */
treeview > div {
  padding: 0px 2px 0px 6px;
  border-radius: 2px;
}
/* line 72, ../../src/scss/ioki-treeview.scss */
treeview > div .node-icon:before {
  content: "\f016";
}
/* line 77, ../../src/scss/ioki-treeview.scss */
treeview > div.dir .add-node {
  visibility: visible;
}
/* line 81, ../../src/scss/ioki-treeview.scss */
treeview > div.dir .node-icon:before {
  content: "\f114";
}
/* line 86, ../../src/scss/ioki-treeview.scss */
treeview > div.dir.expanded .node-icon:before {
  content: "\f115";
}
/* line 90, ../../src/scss/ioki-treeview.scss */
treeview > div.dir.expanded .expander {
  visibility: visible;
  color: #000;
}
/* line 94, ../../src/scss/ioki-treeview.scss */
treeview > div.dir.expanded .expander:before {
  content: "\f0d7";
}
/* line 99, ../../src/scss/ioki-treeview.scss */
treeview > div.dir.expanded + ul {
  display: block;
}
/* line 102, ../../src/scss/ioki-treeview.scss */
treeview > div.dir.expanded + ul > div .expander {
  color: #000;
}
/* line 109, ../../src/scss/ioki-treeview.scss */
treeview > div span.node-label {
  display: inline-block;
  padding: 2px 0px;
}
/* line 114, ../../src/scss/ioki-treeview.scss */
treeview > div:hover, treeview > div.selected {
  color: #fff;
  background: #006da4;
}
/* line 118, ../../src/scss/ioki-treeview.scss */
treeview > div:hover .add-node, treeview > div:hover .remove-node, treeview > div:hover .expander, treeview > div.selected .add-node, treeview > div.selected .remove-node, treeview > div.selected .expander {
  color: #fff;
}
/* line 124, ../../src/scss/ioki-treeview.scss */
treeview > ul {
  padding-left: 10px;
  display: none;
  list-style-type: none;
}
/* line 129, ../../src/scss/ioki-treeview.scss */
treeview > ul .separator {
  display: block;
  padding: 5px;
  font-weight: bold;
  font-size: 12px;
  font-family: Arial;
  color: #bcbcbc;
  text-align: center;
  text-transform: uppercase;
  border: 1px dashed #bcbcbc;
}
/* line 142, ../../src/scss/ioki-treeview.scss */
treeview.dragging {
  cursor: pointer;
}
/* line 147, ../../src/scss/ioki-treeview.scss */
treeview.dragging .dropToDir > div span.node-label {
  background: #ccc;
}
/* line 154, ../../src/scss/ioki-treeview.scss */
treeview.dragged {
  position: absolute;
  cursor: pointer;
  border: solid 1px #66afe9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.35);
  opacity: .75;
}
/* line 158, ../../src/scss/ioki-treeview.scss */
treeview.dragged > div {
  color: #000;
  background-color: #fff;
  opacity: .75;
}
/* line 172, ../../src/scss/ioki-treeview.scss */
treeview.ghost {
  background-color: #fff;
  border: solid 1px #66afe9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.35);
}
