<div ng-class="{'expanded': treedata.expanded, 'selected': treedata.selected}"
     ng-click="$selectNode()">
    <!-- expander icon -->
    <i class="expander "></i>

    <!-- node icon -->
    <i class=""></i>

    <!-- node label -->
    <span class="node-label">{{ treedata.name }}</span>

    <!-- remove node icon -->
    <i class="remove-node "></i>

    <!-- add node icon -->
    <i class="add-node "></i>
</div>
<ul ng-class="{'expanded': treedata.expanded}" ng-if="treedata.subnodes">
    <li ng-repeat="subnode in treedata.subnodes track by $index">
        <treeview treedata="subnode" treesettings="treesettings"></treeview>
    </li>
</ul>