<treeview-node ng-controller="OptionalNodeCtrl as optionalNodeCtrl">
    <treeview-node-body
        ng-class="{
            'expanded': treedata.expanded,
            'selected': treedata.selected,
            'dir': treedata.subnodes
        }"
        ng-click="$selectNode($event)">

        <!-- expander icon -->
        <i class="fa expander"
           ng-click="$toggleNode()"></i>

        <!-- node icon -->
        <i class="fa node-icon"></i> {{ treedata.id }}

        <!-- node label -->
        <span class="node-label" ng-bind="treedata.name" ng-click="optionalNodeCtrl.someMethod()"></span>

        <!-- remove node icon -->
        <i class="fa remove-node"
           ng-click="$removeNode()"></i>

        <!-- add node icon -->
        <i class="fa add-node"
           ng-click="$addNode()"></i>
    </treeview-node-body>
    <ul>
        <li ng-repeat="subnode in treedata.subnodes track by subnode.id" ng-if="treedata.subnodes && treedata.expanded">
            <treeview treedata="subnode"></treeview>
        </li>
    </ul>
</treeview-node>
