<div ng-class="{'expanded': treedata.expanded, 'selected': treedata.selected}"
     ng-click="$selectNode()">
    <!-- expander icon -->
    <i class="expander fa"
       ng-class="(treedata.subnodes && treesettings.showExpander) ? (treedata.expanded ? 'fa-caret-down' : 'fa-caret-right') : 'invisible'"
       ng-click="$toggleNode()"></i>

    <!-- node icon -->
    <i class="fa {{treedata | getNodeIcon: treesettings.icons}}"></i> {{ treedata.name }}

    <!-- remove node icon -->
    <i class="remove-node fa fa-minus-circle"
       ng-click="removeNode(treedata)"
       ng-class="{'invisible': !treedata.$removable}"></i>

    <!-- add node icon -->
    <i class="add-node fa fa-plus-circle"
       ng-click="addNode(treesettings.callbacks.addNode)"
       ng-class="{'invisible': (!treesettings.addable || !treedata.subnodes)}"></i>
</div>
<ul ng-class="{'expanded': treedata.expanded}">
    <li ng-repeat="subnode in treedata.subnodes">
        <treeview treedata="subnode" treesettings="treesettings"></treeview>
    </li>
</ul>