@import 'compass';

/* Customization - icons */
$icon-expander-closed:          "\f0da";        // fa-caret-right
$icon-expander-open:            "\f0d7";        // fa-caret-down
$icon-add-node:                 "\f055";        // fa-plus-circle
$icon-remove-node:              "\f056";        // fa-minus-circle
$icon-node-as-leaf:             "\f016";        // fa-file-o
$icon-node-as-dir-closed:       "\f114";        // fa-folder-o
$icon-node-as-dir-open:         "\f115";        // fa-folder-open-o

/* Customization - colors */
$color-expander-closed:         #949494;
$color-expander-open:           #000;
$color-add-node:                forestgreen;
$color-remove-node:             darkred;

/* Customization - states - selected */
$node-selected-color:           #fff;
$node-selected-bg-color:        #006da4;
$node-selected-icons-colors:    #fff;

treeview {
    display: block;

    /* EXPANDER START */
    .expander {
        visibility: hidden;
        width: 13px;
        padding-right: 5px;
        cursor: pointer;
        color: $color-expander-closed;

        &:before {
            content: $icon-expander-closed;
        }
    }

    &.show-expander {
        .dir {
            .expander {
                visibility: visible;
            }
        }
    }
    /* EXPANDER END */

    /* REMOVE AND ADD NODE START */
    .add-node, .remove-node {
        margin-right: 15px;
        float: right;
        cursor: pointer;
        line-height: 20px;
    }

    .add-node {
        visibility: hidden;
        color: $color-add-node;
        &:before {
            content: $icon-add-node;
        }
    }

    .remove-node {
        color: $color-remove-node;
        &:before {
            content: $icon-remove-node;
        }
    }

    &.unremovable,  {
        .remove-node {
            visibility: hidden;
        }
    }

    &.unaddable {
        .add-node {
            visibility: hidden;
        }
    }

    &[treeview-element-type="root"] > treeview-node > treeview-node-body .remove-node  {
        visibility: hidden;
    }
    /* REMOVE AND ADD NODE END */

    > treeview-node {
        display: block;

        treeview-node-body {
            display: block;
            padding: 0px 2px 0px 6px;
            border-radius: 2px;

            .node-icon:before {
                content: $icon-node-as-leaf;
            }

            &.dir {
                .add-node {
                    visibility: visible;
                }

                .node-icon:before {
                    content: $icon-node-as-dir-closed;
                }

                &.expanded {
                    .node-icon:before {
                        content: $icon-node-as-dir-open;
                    }

                    .expander {
                        visibility: visible;
                        color: $color-expander-open;

                        &:before {
                            content: $icon-expander-open;
                        }
                    }

                    &+ul {
                        display: block;

                        > treeview-node > treeview-node-body .expander {
                            color: $color-expander-open;
                        }
                    }
                }
            }

            span.node-label {
                display: inline-block;
                padding: 2px 0px;
            }

            &:hover, &.selected {
                color: $node-selected-color;
                background: $node-selected-bg-color;

                .add-node, .remove-node, .expander, &.dir.expanded .expander {
                    color: $node-selected-icons-colors;
                }
            }
        }
    }

    > treeview-node ul {
        padding-left: 10px;
        display: none;
        list-style-type: none;

        .separator {
            display: block;
            padding: 5px;
            font-weight: bold;
            font-size: 12px;
            font-family: Arial;
            color: #bcbcbc;
            text-align: center;
            text-transform: uppercase;
            border: 1px dashed #bcbcbc;
        }
    }

    &.dragging {
        cursor: pointer;

        .dropToDir {
            > treeview-node > treeview-node-body {
                span.node-label {
                    background: #ccc;
                }
            }
        }
    }

    &.dragged {
        position: absolute;
        cursor: pointer;

        > treeview-node > treeview-node-body {
            color: #000;
            background-color: #fff;
            opacity: .75;
        }

        border: solid 1px #66afe9;

        @include border-radius(4px);
        @include box-shadow(0 0 7px rgba(0, 0, 0, .35));

        opacity: .75;
    }

    &.ghost {
        background-color: #fff;
        border: solid 1px #66afe9;

        @include border-radius(4px);
        @include box-shadow(0 0 7px rgba(0, 0, 0, .35));
    }
}